<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <title>会鸽互娱抽奖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cj.css">
</head>

<body>
    <div class="hg-logo">
        <img src="assets/img/hg.png" alt="">
    </div>
    <div class="container">
        <div class="time-box">
            <div class="time"></div>
        </div>
        <div class="pic-box" id="screen">
            <div id="inner">
            </div>
            <div class="selcet-box">
                <div class="selcet-area">
                    <strong>奖品：</strong>
                    <select class="form-control" id="prize-select">
                        <option value="11">特等奖</option>
                        <option value="22">一等奖</option>
                        <option value="33">二等奖</option>
                        <option value="44">三等奖</option>
                    </select>
                </div>
                <div class="number-area">
                    <strong>人数：</strong><span><em id="outnumber">2</em>人</span>
                </div>
                <div class="start"></div>
                <div class="prize"></div>
                <div class="record"></div>
            </div>
        </div>
    </div>
    <!-- 中奖弹层 -->
    <div class="record-layer winning-layer-wrap">
        <div class="layer-box winning-layer">
            <div class="layer-title"></div>
            <div class="layer-body">
                <div class="layer-body-content">
                    <table class="table">
                        <caption>
                            <div class="text-justify"><strong class="text-blue f20">一等奖获奖名单</strong><span class="f16">获奖人数：1人</span></div>
                        </caption>
                        <thead>
                            <tr>
                                <th>用户头像</th>
                                <th>员工姓名</th>
                                <th>员工编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/img/7.jpg" class="head"></td>
                                <td>大佳</td>
                                <td>12453</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layer-bottom"></div>
        </div>
    </div>
    <!-- 获奖名单弹层 -->
    <div class="record-layer record-layer-wrap">
        <div class="layer-box record-layer">
            <div class="layer-title"></div>
            <div class="layer-body">
                <div class="layer-body-content">
                    <div class="layer-body-title f20 text-center">获奖名单</div>
                    <table class="table">
                        <caption>
                            <div class="text-justify"><strong class="text-blue f20">一等奖获奖名单</strong><span class="f16">获奖人数：1人</span></div>
                        </caption>
                        <thead>
                            <tr>
                                <th>用户头像</th>
                                <th>员工姓名</th>
                                <th>员工编号</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>
                            <div class="text-justify"><strong class="text-blue f20">二等奖获奖名单</strong><span class="f16">获奖人数：2人</span></div>
                        </caption>
                        <thead>
                            <tr>
                                <th>用户头像</th>
                                <th>员工姓名</th>
                                <th>员工编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/img/6.jpg" class="head"></td>
                                <td>大姚</td>
                                <td>12453</td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/6.jpg" class="head"></td>
                                <td>大姚</td>
                                <td>12453</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>
                            <div class="text-justify"><strong class="text-blue f20">三等奖获奖名单</strong><span class="f16">获奖人数：3人</span></div>
                        </caption>
                        <thead>
                            <tr>
                                <th>用户头像</th>
                                <th>员工姓名</th>
                                <th>员工编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/img/5.jpg" class="head"></td>
                                <td>大欢</td>
                                <td>12453</td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/5.jpg" class="head"></td>
                                <td>大欢</td>
                                <td>12453</td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/5.jpg" class="head"></td>
                                <td>大欢</td>
                                <td>12453</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layer-bottom"></div>
        </div>
    </div>
    <!-- 获奖名单弹层 -->
    <div class="record-layer prize-layer-wrap">
        <div class="layer-box prize-layer">
            <div class="layer-title"></div>
            <div class="layer-body">
                <div class="layer-body-content">
                    <div class="layer-body-title f20 text-center">一等奖</div>
                    <div class="prize-pic"><img src="assets/img/one.png" alt=""></div>
                    <div class="prize-text">2016款MAC</div>
                </div>
            </div>
            <div class="layer-bottom"></div>
        </div>
    </div>
    <!-- Javascript -->
    <script src="assets/js/jquery-1.8.2.min.js"></script>
    <script src="assets/js/layer/layer.js" type="text/javascript"></script>
    <script src="assets/js/test.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    var t = 5;
    $(".time").html(t);
    var countDown = null; //倒计时
    var aUser = null; //用户数据
    var winnersNum = [] //中奖用户
    var sc = null;
    // ajax

    $.post('/user', function(data) {
        aUser = data.data;
        createItem(aUser, 0.6)
    });
    // 圆圈初始化
    function createItem(val, speed) {
        $.each(val, function(k, v) {
            clss.push(v.jobnumber);
            head.push(v.headimgurl)
        });
        document.getElementById("inner").innerHTML = '';
        sc = new Screen('inner', {
            ballsnum: val.length,
            spring: speed,
            bounce: -0.9,
            gravity: 0.01,
            diameter: 40
        });
        sc.initialize();
    }
    // end
    $('.start').on('click', function() {
        if (!$(this).hasClass('active')) {
            if ($('#prize-select option:selected').attr('disabled')) {
                layer.msg('你已经抽过此等奖项了~！');
                return
            }
            var title = $('#prize-select option:selected').val()
            var outnumber = Number($('#outnumber').html())
            if (winnersNum.length) {
                aUser.splice(0, 2)
            }
            // 创建圆圈DOM
            createItem(aUser, 1);
            // 倒计时
            t = 5;
            $(".time").html(t);
            countDown = setInterval(function() {
                    if (0 == t) {
                        clearInterval(sc.timer);
                        clearInterval(countDown);
                        $('.start').removeClass('active');
                        layer.closeAll()
                        fnLayer($('.winning-layer-wrap'))
                    } else {
                        t--;
                        $(".time").html(t)
                    }
                },
                970);
            $('#prize-select option:selected').attr('disabled', 'disabled')
            $(this).addClass('active');
            random(aUser, outnumber); // 中奖数据
            createWinning(winnersNum, title, outnumber) //渲染中奖名单
        }
    });
    $('.prize').on('click', function() {
        fnLayer($('.prize-layer-wrap'))
    });
    $('.record').on('click', function() {
        fnLayer($('.record-layer-wrap'))
    });
    // 随机数
    function random(arr, num) {
        // return parseInt(Math.random() * (max + 1));
        winnersNum = []
        arr.sort(
            function() {
                return 0.5 - Math.random();
            }
        );
        for (var i = 0; i < num; i++) {
            winnersNum.push(arr[i])
        }
    }
    // 弹层
    function fnLayer(el) {
        layer.open({
            type: 1,
            closeBtn: 0, //不显示关闭按钮
            title: false,
            area: ['520px', 'auto'],
            anim: 1,
            shade: 0.6,
            shadeClose: true, //开启遮罩关闭
            content: el
        });
    }
    // 中奖名单
    function createWinning(data, tit, num) {
        var td = null
        $('.winning-layer table tbody').html('');
        $('.winning-layer table caption strong').html(tit)
        $('.winning-layer table caption span').html(num)
        $.each(data, function(k, v) {
            td += '<tr><td><img src=' + v.headimgurl + ' class="head"></td><td>' + v.name + '</td><td>' + v.jobnumber + '</td></tr>'
        });
        $('.winning-layer table tbody').append(td)
    }
    // 遍历表格
    // function fnTable(el) {

    // }
    // fnTable($('.winning-layer table'))
    </script>
</body>

</html>
